html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    height: 100vh;
    background: #FBE8A6;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rock Salt', cursive;
}
#calculator{
    margin-top: auto;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #F4976C;
    width: 400px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#calculator-screen{
    font-size: 32px;
    margin-top: -50px;
    margin-bottom: 20px;
    background-color: #D2FDFF;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}
#calculator-buttons{
    display: flex;
    flex-flow: column nowrap;
    align-items: space-around;
    width: 90%;
}
.btn{
    height: 50px;
    width: 20%;
    border-radius: 5px;
    font-family: 'Rock Salt', cursive;
}
#text-buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
#text-buttons .btn{
    margin: 0 auto;
    width: 50%;
}
#number-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    gap: 23.5px;
    margin-bottom: -40px;
}
.footer{
    margin-top: auto;
    background-color: #F4976C;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

/* Button aesthetization customization */


.clear,
.delete{
    font-size: 18px;
    border: 3px solid black;
}
.clear{
    background-color: #F5A9C4;
}
.delete{
    background-color: yellowgreen;
}
#number-buttons .btn{
    background-color: #3B8BEB;
}
#number-buttons .add, 
#number-buttons .multiply,
#number-buttons .divide,
#number-buttons .subtract{
    background-color: #F50057;
    border: 3px solid black;
}
#number-buttons .equals{
    background-color: #FAED26;
    border: 3px solid black;
}